ModeloProcesador/bin/
ModeloProcesador/obj/
.vs/ModeloProcesador/v17/.suo
.vs/ModeloProcesador/v17/DocumentLayout.json
.vs/ModeloProcesador/FileContentIndex/6df6fe71-150b-4dcc-9e12-70d5b9473766.vsidx
